@model MRT_Demo.Models.ImportantIndicatorResultMeasurement
@{
    int quarterIndex = ViewBag.QuarterIndex;
}

@Html.HiddenFor(m => m.ID)
@Html.HiddenFor(m => m.IndicatorID)
@Html.HiddenFor(m => m.PMoYName)
@Html.HiddenFor(m => m.IsDelete)
@Html.HiddenFor(m => m.CreateDate)
@Html.HiddenFor(m => m.UpdateDate)

<div>
    @Html.EditorFor(m => m.ForecastPeriod)
</div>

